<div class="form-group">

        {{!-- TITLE --}}
    <label for="title"> Tite </label>
        <input required type="text" name="title" id="title"><br>
        {{!-- DESCRIPTION --}}
     <label required or="description"> Description </label><br>
        <textarea name="description" id="description"></textarea><br>
        {{!-- MArkdown --}}
     <label for="markdown"> Markdown </label><br>
        <textarea name="marekdown" id="markdown"></textarea>
</div>

<button type="submit" class="save-btn">Save</button>