

  <div class="container">

    <div class="signup-container">
        <a href="/signup"><button class="signup-btn">SIGNUP</button></a>
        <a href="/login"><button class="login-btn">LOGIN</button></a>
    </div>



    <h1> Project Blog</h1>
    <a href="/articles/new"><button class="new-btn">New Article</button></a>
</div>

  
    {{#each articles}}

        <div class="card">
            <div class="card-body">
               <h4 class="title">{{title}}</h4>

                <div class="card-subtitle">
                    {{ createdAt }}
                   
                </div>
                <div class="card-text">{{ description}} 
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fuga dignissimos fugit expedita excepturi voluptatum sunt fugiat exercitationem quidem. Amet doloribus autem, ducimus laboriosam maiores voluptate velit rem ipsam necessitatibus!
                </div>  
            </div>
            <a href=""><button class="edit-btn">EDIT</button></a>
            <a href=""><button class="delete-btn">DELETE</button></a>
        </div>
        
    {{/each}}
