

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/app.css">

</head>


<body>
  

<div class="container">

 {{ article }}


 <h4> {{ message }} </h4>
    
  
</div>

       <a href="/articles/new"><button class="complete-btn">Create new article</button></a>
       <a href="/"><button class="complete-btn">Finished</button></a>
</body>
</html>




